//<script type="text/jsx">
function Reportes() {
  const [Filtro, setFiltro] = useState(null);

  const filtros = ["Fechas", "Materias", "Semestres", "Alumnos"];

  return (
    <div className="p-5">
      <h1 className="text-3xl font-bold mb-5">Reportes</h1>
      {/* Botón Enviar en la parte superior derecha */}
      <div className="text-left">
      <Select
          placeholder="Filtrar por"
          style={{ width: "10%" }}
          onChange={(value) => setGrupo(value)}
        >
          {filtros.map((grp) => (
            <Option key={grp} value={grp}>
              Por: {grp}
            </Option>
          ))}
        </Select>
      </div>
    </div>
  )
}



//</script">